@model List<Oefenplatform.MVC.Areas.Teacher.Models.AssessmentFirstLang.AssessmentFirstLangCreateTestDetailVm>

@{
	ViewData["Title"] = "CreateTest";
}

<h1>CreateTest</h1>
<form asp-action="Save" method="post">
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model)
				</th>
				<th>
					Description
				</th>
				<th>
					Selecteer Vraag
				</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => Model[i].QuestionToAdd.QuestionTitle)
					</td>
					<td>
						@Html.DisplayFor(modelItem => Model[i].QuestionToAdd.Description)
					</td>
					<td>
						<input type="hidden" asp-for="@Model[i].QuestionId" />
						<input asp-for="@Model[i].IsToBeAdded"/>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<input type="submit" value="Opslaan" class="btn btn-primary" />
</form>
