@model Oefenplatform.MVC.Areas.Teacher.Models.LangFirstQuestions.LangFirstQuestionsIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Taalvragen Eerste Graad</h1>

<p>
    <a asp-action="Create" class="btn btn-colour-custom">Aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questions)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id) | 
                    @Html.DisplayFor(modelItem => item.QuestionTitle)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">Aanpassen</a> 
                    <a class="btn btn-colour-custom" asp-action="Detail" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
