@model Oefenplatform.MVC.Areas.Teacher.Models.LangQuestions.LangQuestionsDetailVm
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

@if (ViewBag.Mode == "Detail")
{
    <div class="panel-body">
        <ul>
            <li>@Model.Id</li>
            <li>@Model.QuestionTitle</li>
            <li>@Model.Description</li>
            <li>@Model.Answer</li>
            <li>@Model.FirstFeedback</li>
            <li>@Model.SecondFeedback</li>
        </ul>
        <a class="btn btn-warning" asp-action="Update" asp-route-id="@Model.Id">Aanpassen</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Verwijderen</a>
    </div>
}
